::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

html {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    color: black;
}

body {
    transition: 3s;
    margin: 0;
    padding: 0;
    display:grid;
    height: 100%;
    background: url('bck2.1.png');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    grid-template-rows: 15% 1% 8% 64% 12%;
}

.header {
    grid-row: 1/2;
    display: grid;
    grid-template-rows: 20% 35% 45%;
}

.sus{
    grid-row: 1/2;
}

.meniu-sus{
    float: right;
    padding: 12px 20px 12px 20px;
    border: black 1px solid;
    border-radius: 2vh;
    margin: 10px 10px 0px 0px;
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.title {
    grid-row: 2/3;
    transition: 3s;
    margin: 0;
    margin-top: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 38px;
    font-weight: 900px;
    text-transform: uppercase;
    text-align: center;
    color: black;
}

.subtitle {
    grid-row: 3/4;
    transition: 3s;
    color: black;
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    line-height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nothing{
    grid-row: 2/3;
}

.meniu {
    grid-row: 3/4;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}

.meniu-item {
    transition: 3s;
    font-weight: bold;
    border: black 1px solid;
    border-bottom: none;
    margin: 10px 30px 0px 30px;
    padding: 22px 40px 22px 40px;
    text-decoration: none;
    color:black;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}

.meniu-item-active {
    color: rgb(18, 5, 194);
    box-shadow: rgba(160, 160, 179, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.meniu-item:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 2000000px;
    background-color: rgb(58, 12, 12);
    color: white;
    transition: 3s;
    transition-delay: 0.2s;
}

.page-grid {
    height: 85%;
    width: 80%;
    transition: 3s;
    grid-row: 4/5;
    margin-top: 0;
    margin-left: 8%;
    background: transparent;
    padding: 30px 20px;
    border: 1px solid black;
    color: black;
    font-size: 20px;
    overflow-y: scroll;
}

div:nth-child(odd) {
    color: rgb(95, 11, 11);
  }

.album {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

p {
    text-align: left;
    font-family: 'Lato', sans-serif;
    line-height: 1em;
    margin: 0 0 1em 0;
} 

h3{
    display: flex;
    justify-content: center;
}

.footer {
    grid-row: 5/6;
    display: flex;
    background: transparent;
    justify-content: center;
    padding: 15px;
    background-color: rgba(128, 128, 128, 0.479);
    box-shadow: 0px 4px 16px gray inset ;
}

.poza{
    border-radius: 60%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    padding: 10px 0px 10px 0px;
} 


@media (max-width: 1280px) {
    .page-grid {
        margin-left: 0px;
        margin-right: 60px;
        border-left: none;
        border-right: none;
        height: 90%;
        width: 98%;
    }
    p{
        line-height: 1em;
        margin: 0 0 1em 0;
        display: block;
    }
    .meniu {
        font-size: 12px;
    }
    .meniu-sus{
        font-size: 14px;
    }
    .footer {
        display: none;
    }
}



@media (max-width: 768px) {
    body {
        background: white;
    }
    .title {
        display: none;
    }
    .subtitle{
        color: black;
    }
    .page-grid{
        display:block;
        height: 100%;
    }
    .meniu-item {
        display: block;
        margin: initial;
    }
    p{
        line-height: 1em;
        margin: 0 0 1em 0;
    }
}

@media (max-width: 550px) {
    .meniu-item{
        padding: initial;
        padding-right: 10px;
        padding-left: 10px;
    }
    .poze{
        height: 63%;
        width: 90%;
    }
    .meniu-item:hover{
        border-radius: initial;
    }
}

@media (max-height: 800px){
    body {
        background: white;
        grid-template-rows: 15% 10% 8% 55% 12%;
    }
    .title {
        display: none;
    }
    .subtitle{
        color: black;
    }
    .page-grid{
        height: 80%;
        overflow-y: scroll;
    }
    .meniu-sus{
        font-size: 16px;
        padding: initial;
        padding-right: 5px;
        padding-left: 5px;
    }
    .footer {
        display: none;
    }
    .meniu-item{
        padding: initial;
        padding-right: 10px;
        padding-left: 10px;
    }
}