<div class = "container">
    <div class = "logoutZone">
        <p>
            Logged as: {{loggedUser.username}}
        </p>

        <button mat-raised-button (click) = "logout()">
            <mat-icon>exit_to_app</mat-icon>
        </button>
    </div>

    <div class = "centerZone">
        <div class = "title">
            <p>G1A</p>
        </div> 

        <div class = "textBox">
            <p>
                Welcome to G1A, a game platform where you can browse games... <br>
                placeholder <br>
                placeholder
            </p>
        </div>
    </div>
</div>